@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Armata&display=swap');

body {
  padding: 0;
  font-family: 'Armata', sans-serif;
}

h1 {
  font-size: 35px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Special Elite', cursive;
}

header {
  padding: 2em 0;
}

footer {
  color: black;
  text-align: center;
  font-size: 0.8em;
  background-color: #eae8e4;
  border-top: 5px solid #7850fa;
  background-image: url(../imgs/robots-background.png);
  background-size: 500px;
  margin: 2em 0 1em 0;
  margin-bottom: 0;
  padding: 5px;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 576px) {
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1000;
  }
}

.error {
  text-align: center;
}

table {
  margin-top: 2em;
}

.form-control {
  background-color: #eae8e4;
}

.main-container {
  margin-bottom: 45px;
}

.header-container {
  background-color: #eae8e4;
  border-bottom: 10px solid #7850fa;
  background-image: url(../imgs/robots-background.png);
  background-size: 500px;
  color: black;
  margin-bottom: 2em;
}

.btn-primary {
  color: #fff;
  background-color: #7850fa;
  border-color: #7850fa;
  text-transform: uppercase;
}

.performance {
  color: #0dcfc7;
  font-style: italic;
}

.sales-summary {
  margin-top: 2em;
}

.sales-summary > div {
  display: flex;
}

.sales-summary span {
  flex: auto;
  width: 50%;
}

.logout {
  align-items: center;
  display: flex;
  float: right;
}

.logout span {
  flex: 1;
  padding: 0 0.9em 0 0;
  white-space: nowrap;
}

.username {
  font-weight: bold;
}

#robot-preview {
  width: 380px;
  margin: 0 auto;
  text-align: center;
}

#robot-preview-image {
  border: 3px solid #7850fa;
  background: #eee;
  padding: 15px 10px;
}

#robot-preview-image img {
  width: 100%;
  height: auto;
}

.modal {
  background-color: rgba(0, 0, 0, 80%);
}
.modal-header {
  border-bottom: 0;
}

.modal-content {
  background-color: #7850fa;
  border-color: #7850fa;
}

.modal-dialog {
  color: #fff;
  text-transform: uppercase;
}

.alert-buttons button {
  margin-right: 5px;
}

button#order {
  margin-left: 10px;
}

.attribution {
  font-size: 9px;
}
